<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type base-type="org.eclipse.core.runtime.text"
            id  ="io.hongstack.eclipse.storyeditor.story"
            name="io.hongstack.eclipse.storyeditor.story"
            file-extensions="story">
      </content-type>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding editorId="org.eclipse.ui.genericeditor.GenericEditor"
            contentTypeId="io.hongstack.eclipse.storyeditor.story">
      </editorContentTypeBinding>
   </extension>
   
   <extension point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            contentType="io.hongstack.eclipse.storyeditor.story"
            class      ="io.hongstack.eclipse.storyeditor.StoryPresentationReconciler">
      </presentationReconciler>
   </extension>
</plugin>